<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" href="../../../favicon.ico" type="image/x-icon"/>
    <title layout:title-pattern="$DECORATOR_TITLE $CONTENT_TITLE">Main</title>
</head>
<body>
<header>
    <h1>Main Layout - <em>Mobile</em></h1>
</header>
<section layout:fragment="content">
    <p>Page content goes here</p>
</section>
<footer>
    <p>My footer</p>

    <p layout:fragment="custom-footer">Custom footer here</p>
</footer>
</body>
</html>
